{
    "arrowParens": "avoid",
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": true,
    "bracketSameLine": true,
    "printWidth": 300,
    "overrides": [
        {
            "files": [
                "**/*.tsx"
            ],
            "options": {
                "printWidth": 120
            }
        }
    ]
}